<p id="notice"><%= notice %></p>

<p>
  <strong>Почта:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Пароль:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
